<?php
//$banners = $this->getAllBanner();
 $availableBanners = $this->getAllAvailableBanners();
?>


<div>
    <?php foreach($availableBanners as $availableBanner): ?>
        <img src="<?php echo $this->getMediaPath($availableBanner['image']) ?>">
    <?php endforeach; ?>
</div>